@layer tokens {

  :root {
    /* PRIMITIVE TOKENS */
    --clr-white: #FFFFFF;
    --clr-grey-900: #48556A;
    --clr-grey-500: #66778D;
    --clr-grey-400: #6b7684;
    --clr-grey-200: #ECF2F8;
    --clr-grey-100: #C9D5E1;

    --space-0: 0;
    --space-200: 1rem;
    --space-300: 1.5rem;
    --space-400: 2rem;
    --space-500: 2.5rem;
    --space-600: 3rem;
    --space-700: 3.5rem;
    --space-800: 4rem;
    --space-1300: 6.5rem;
    --space-2000: 10rem;

    /* SEMANTIC TOKENS */
    --clr-text-primary: var(--clr-grey-900);
    --clr-text-secondary: var(--clr-grey-500);
    --clr-text-muted: var(--clr-grey-400);
    --clr-text-inverse: var(--clr-white);
    --clr-surface-primary: var(--clr-grey-200);
    --clr-surface-secondary: var(--clr-white);
    --clr-surface-inverse: var(--clr-grey-900);
    --clr-surface-hover: var(--clr-grey-500);

    --ff-base: 'Manrope', system-ui, sans-serif;

    --fs-heading: 1.25rem;
    --fs-body: 0.8125rem;

    --fw-medium: 500;
    --fw-bold: 700;

    --radius-100: 0.625rem;
    --radius-full: 50%;

    --transition-fast: .25s ease-out;
  }
}