@layer tokens {

  :root {
    /* PRIMITIVE TOKENS */
    --clr-white: #FFFFFF;
    --clr-grey-900: #48556A;
    --clr-grey-500: #66778D;
    --clr-grey-400: #6b7684;
    --clr-grey-200: #ECF2F8;
    --clr-grey-100: #C9D5E1;

    --space-0: 0;
    --space-200: 16px;
    --space-300: 24px;
    --space-400: 32px;
    --space-500: 40px;
    --space-600: 48px;
    --space-700: 56px;
    --space-800: 64px;
    --space-1300: 104px;
    --space-2000: 160px;

    /* SEMANTIC TOKENS */
    --clr-text-primary: var(--clr-grey-900);
    --clr-text-secondary: var(--clr-grey-500);
    --clr-text-muted: var(--clr-grey-400);
    --clr-text-inverse: var(--clr-white);
    --clr-surface-primary: var(--clr-grey-200);
    --clr-surface-secondary: var(--clr-white);
    --clr-surface-inverse: var(--clr-grey-900);
    --clr-surface-hover: var(--clr-grey-500);

    --ff-base: 'Manrope', system-ui, sans-serif;

    --fs-heading: 20px;
    --fs-body: 13px;

    --fw-medium: 500;
    --fw-bold: 700;

    --radius-100: 10px;
    --radius-full: 50%;

    --transition-fast: .25s ease-out;
  }
}